code {
    /* reset counter */
    counter-reset: section;           
}

.line:before {
    counter-increment: section; /* content + 1*/
    content: " "counter(section); /* show linenumber */

    /* align */
    width:2em;
    padding-right: 1em;
    margin-right: 1em;
    display: inline-block;
    width: 15px;
}
